packages/*.zip filter=lfs diff=lfs merge=lfs -text
AutoMulti-ML-testing-package/model/**/*.pt filter=lfs diff=lfs merge=lfs -text
AutoMulti-ML-testing-package/dataset/features/*.npz filter=lfs diff=lfs merge=lfs -text
